:root{
    --border-thickness: 2px;
}
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    height: 100%;
}
.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-container{
    width: fit-content;
}
.game-board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 300px;
    height: 300px;
}
.game-cell{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    user-select: none;
}
.middle-left, .middle-center, .middle-right{
    border-top: var(--border-thickness) solid black;
    border-bottom: var(--border-thickness) solid black;
}
.top-center, .middle-center, .bottom-center{
    border-right: var(--border-thickness) solid black;
    border-left: var(--border-thickness) solid black;
}